<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dashboard</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script
            type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <style>
      .card {
        width: 200px;
        height: 200px;
      }
      .big-text {
        font-size: 4em;
        font-weight: bold;
      }
      .text-green{
      color:#39FF14;
      }
        .text-red{
      color:#FF3131;
      }

















    </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body class="bg-secondary-subtle">
<nav th:replace="fragments/navbar :: navbar(area='Admin')"></nav>

<form action="/admin" method="get" id="timeForm" class="form-inline col-2">
    <div class="form-group m-2">
        <label for="time" class="mr-2">Seleziona il periodo:</label>
        <select id="time" name="time" class="form-control">
            <option value="1" th:selected="${initialTimeValue == '1'}">Totale</option>
            <option value="2" th:selected="${initialTimeValue == '2'}">Mese Corrente</option>
        </select>
    </div>
    <button type="submit" class="btn btn-dark m-2">Applica</button>
</form>

<div th:replace="fragments/adminNav :: adminNav"></div>


<!--  -->
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-3 d-flex flex-column justify-content-center">
            <div class="card bg-dark ">
                <div class="card-body">
                    <h5 class="card-title fs-6 text-light">Profitto</h5>
                    <p
                            class="card-text fs-2 fw-bold text-white"
                            th:text="|${profitto}  &euro;|"
                    ></p>
                    <div th:if="${profittoPrecedente != null}">
                        <p><span th:text="|${profittoPrecedente}%|"
                                 class="fs-3 fw-bold"
                                 th:classappend="${profittoPrecedente < 0} ? 'text-red' : 'text-green'">

                        ></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex flex-column justify-content-center">
            <div class="card bg-dark">
                <div class="card-body">
                    <h6 class="card-title fs-6 text-light">Vendite Totali</h6>
                    <p
                            class="card-text fs-2 fw-bold text-white"
                            th:text="${venditeTotali}"
                    ></p>
                    <div th:if="${venditeTotaliPrecedenti != null}">
                        <p><span th:text="|${venditeTotaliPrecedenti}%|"
                                 class="fs-3 fw-bold"
                                 th:classappend="${venditeTotaliPrecedenti < 0} ? 'text-red' : 'text-green'">

                                 </span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <canvas id="pieChart" width="10" height="10" class="w-100"></canvas>
        </div>
    </div>

    <!-- row sales vendite nel tempo -->
    <div class="row">
        <div class="col-5 mx-auto">
            <canvas id="barChart" width="200" height="100"></canvas>
        </div>
        <div class="col-7 pt-2">
            <canvas id="profitChart" width="200" height="100"></canvas>
        </div>
    </div>
</div>
<script src="chart/chart.js"></script>
<script th:src="@{custom/js/grafici.js}"></script>


<!-- script pie chart -->

<script>


</script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
