<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav  th:fragment="navbar(area)" class="navbar navbar-expand-lg bg-dark py-3 " data-bs-theme="dark" method="get">
  <div class="container">
    <a class="navbar-brand text-light" href="/">Music Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/catalogo">Catalogo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="/admin">Admin</a>
        </li>

        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" th:action="@{/catalogo}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success text-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

</body>
</html>

<nav th:fragment="navbar(area)" class="navbar navbar-expand-lg bg-dark   py-3" data-bs-theme="dark">
  <div class="container-fluid ">

    <div class="nav-left">
      <a class="navbar-brand text-light" th:href="@{/}">Music Shop</a>

    </div>

    <div class="nav-fill w-50 ">
      <div class="collapse navbar-collapse justify-content-center" id="SearchBar">
        <form class="d-flex w-100" role="search" th:action="@{/catalogo}" method="get">
          <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Cerca" name="q">
          <button class="btn btn-success text-light" type="submit">Cerca</button>
        </form>
      </div>
    </div>

    <div class="nav-right">
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <ul class="navbar-nav collapse navbar-collapse me-auto mb-2 mb-lg-0" id="navbarSupportedContent">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/catalogo}"
             th:classappend="${#strings.equals(area,'Catalogo') ? 'active' : ''}"><i
                  class="fa-solid fa-store text-light  mx-2"></i><span class="text-light">Catalogo</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}"><i
                  class="fa-solid fa-cart-shopping text-light  mx-2"></i><span
                  class="text-light">Carrello</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/admin}"
             th:classappend="${#strings.equals(area,'Admin') ? 'active' : ''}"><i
                  class="fa-solid fa-user text-light mx-2"></i><span class="text-light">Admin</span></a>
        </li>
      </ul>
    </div>

  </div>
</nav>