<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<div class="container " th:fragment="card">
    <div class="card  mx-auto text-center border border-0 shadow bg-body-tertiary rounded"
         style="width: 18rem ; height: 400px;">
        <div class="card-img d-flex align-self-center justify-content-center"
             style="height: 200px; width: 200px">
            <img th:src="${strumento.urlFoto}"
                 class="d-flex justify-content-center"
                 alt="${strumento.tipologia}"
                 style="max-height: 100%; position: relative"/>
        </div>
        <div class="card-body w-100 pt-3">
            <h5
                    class="card-title bg-dark bg-gradient p-2 text-white rounded"
                    th:text="${strumento.nome}"
            ></h5>
            <p
                    class="card-text fs-4 fw-medium"
                    th:text="${strumento.prezzo}+ '$'"
            ></p>
            <a th:href="@{/{tipologiaSlug}/{strumentoSlug}(tipologiaSlug=${strumento.tipologia.slug}, strumentoSlug=${strumento.slug})}"
               class="btn btn-dark">Acquista ora</a>
        </div>
    </div>
</div>

</body>
</html>