<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Music Store | Admin | Strumenti')"></head>

<body>
<nav th:replace="fragments/navbar :: navbar(area='Admin')"></nav>
<div th:replace="fragments/adminNav :: adminNav"></div>
<div class="container my-4 ">
    <div th:if="${strumento.id} != null" class="row">

        <div class="col-3 mx-auto my-3">
            <img th:src="${strumento.urlFoto}" style="height:30vh;">
        </div>
        <div class="col-11">
            <h6 class="text-center" th:text="${strumento.nome}"></h6>
        </div>
    </div>
    <!-- titolo parametrico con operatore ternario che testa se l'id dello user è null oppure no -->
    <h1 th:text="${strumento.id != null ? 'Modifica strumento' : 'Crea  strumento'}"></h1>

    <!-- th:action="@{/admin/strumenti/crea}" -->
    <!-- form mappato sull'oggetto strumento -->
    <div class="row">
        <form
                th:action="${strumento.id != null} ? @{/admin/strumenti/{slug}/edit(slug = ${strumento.slug})} : @{/admin/strumenti/crea}"

                id="strumento"
                method="POST"
                th:object="${strumento}"
        >

            <!-- nome strumenti-->
            <div class="mb-3 col-lg-6 col-md-12">
                <label for="nome-strumento" class="form-label">Nome Strumento</label>
                <input
                        type="text"
                        class="form-control"
                        id="nome-strumento"
                        th:field="*{nome}"
                        th:errorClass="is-invalid"
                />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                    <ul>
                        <li
                                th:each="err : ${#fields.errors('nome')}"
                                th:text="${err}"
                        ></li>
                    </ul>
                </div>
            </div>


            <!-- url foto nome strumenti-->
            <div class="mb-3 col-lg-6  col-md-12">
                <label for="url-strumento" class="form-label">URL Immagine</label>
                <input
                        type="text"
                        class="form-control"
                        id="url-strumento"
                        th:field="*{urlFoto}"
                        th:errorClass="is-invalid"
                />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('urlFoto')}">
                    <ul>
                        <li
                                th:each="err : ${#fields.errors('urlFoto')}"
                                th:text="${err}"
                        ></li>
                    </ul>
                </div>
            </div>
            <!-- descrizione strumenti-->
            <div class="mb-3 col-lg-12">
                <label for="descrizione-strumento" class="form-label">Descrizione</label>
                <textarea
                        class="form-control"
                        id="descrizione-strumento"
                        name="descrizione"
                        th:field="*{descrizione}"
                        th:errorClass="is-invalid"
                        rows="4"
                        cols="50"
                >
          </textarea>

                <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('descrizione')}"
                >
                    <ul>
                        <li
                                th:each="err : ${#fields.errors('descrizione')}"
                                th:text="${err}"
                        ></li>
                    </ul>
                </div>
            </div>

            <!-- prezzo -->
            <div class="mb-3 col-lg-2 col-md-4">
                <label for="prezzo-strumento" class="form-label">Prezzo</label>
                <input
                        type="number"
                        class="form-control"
                        id="prezzo-strumento"
                        name="prezzo"
                        th:field="*{prezzo}"
                        th:errorClass="is-invalid"
                        step="0.01"
                />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('prezzo')}">
                    <ul>
                        <li
                                th:each="err : ${#fields.errors('prezzo')}"
                                th:text="${err}"
                        ></li>
                    </ul>
                </div>
            </div>
            <!-- tipologia -->

            <div class="mb-3 col-lg-2 col-md-4">
                <h4>Categories</h4>
                <div class="form-check" th:each="tipo : ${tipologie}">
                    <input class="form-check-input" type="radio" th:value="${tipo.id}"
                           th:id="|category_${tipo.id}|" th:field="*{tipologia}"/>
                    <label class="form-check-label" th:for="|category_${tipo.id}|" th:text="${tipo.nome}"></label>
                </div>
            </div>
            <!-- in vendita -->
            <div class="col-12">
                <label for="inVenditaSelect">Seleziona lo stato di vendita:</label>
                <select class="form-select" id="inVenditaSelect" th:field="*{inVendita}">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>


            <div class="mt-5s">
                <button type="submit" class="btn btn-success">Salva</button>
            </div>
        </form>
    </div>
</div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
