<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Badmin strumenti</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style></style>
  </head>
  <body>
    <nav th:replace="fragments/navbar :: navbar(area='Admin')"></nav>
    <canvas id="strumentiChart" width="400" height="100"></canvas>

    <a th:href="@{/admin/strumenti/crea}">crea uno strumento</a>
    <div class="container">
      <div class="row">
        <div class="col-3 mx-auto my-3">
          <a th:href="@{/admin/strumenti/crea}" class="btn btn-success">
            crea uno strumento</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Strumento</th>
                <th scope="col">Quantità</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="strumento : ${strumenti}"
                th:class="${strumento.magazzino.quantity lt 0} ? 'table-danger' : ''"
              >
                <td>
                  <span
                    th:if="${strumento.magazzino.quantity lt 0}"
                    class="fs-4 mx-1"
                    ><i
                      class="fa-sharp fa-solid fa-circle-exclamation text-danger"
                    ></i
                  ></span>
                  <span th:text="${strumento.nome}"></span>
                </td>
                <td>
                  <span th:text="${strumento.magazzino.quantity}"></span>
                </td>
                <td>
                  <a
                    class="btn btn-primary"
                    th:href="@{/admin/strumenti/{slug}/edit(slug=${strumento.slug})}"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td>
                <td>
                  <form
                    th:action="@{/admin/strumenti/{slug}/delete(slug=${strumento.slug})}"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-primary">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </form>
                </td>
                <td>
                  <a
                    class="btn btn-primary"
                    th:href="@{/admin/{slugTipo}/{slugNome}/assortimento(slugNome=${strumento.slug},slugTipo=${strumento.tipologia.slug})}"
                  >
                    <i class="fa-solid fa-truck-fast"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

    <!-- script grafico -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      // Ottieni il riferimento all'elemento canvas
      var ctx = document.getElementById("strumentiChart").getContext("2d");

      // Funzione per recuperare i dati dal controller REST
      function fetchDatiDaController() {
        fetch("/admin/api/magazzino") // Assicurati che l'URL sia corretto
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            // Estrai il nome dello strumento e la quantità dal magazzino
            var strumenti = data;
            var nomiStrumenti = strumenti.map(function (strumento) {
              return strumento.strumento.nome;
            });

            var quantitaMagazzino = strumenti.map(function (strumento) {
              return strumento.quantity;
            });

            // Crea il grafico a barre orizzontale
            var chart = new Chart(ctx, {
              type: "bar",
              data: {
                labels: nomiStrumenti,
                datasets: [
                  {
                    label: "Quantità nel Magazzino",
                    data: quantitaMagazzino,
                    backgroundColor: quantitaMagazzino.map(function (val) {
                      return val < 0
                        ? "rgba(255, 0, 0, 0.2)"
                        : "rgba(75, 192, 192, 0.2)";
                    }),
                    borderColor: quantitaMagazzino.map(function (val) {
                      return val < 0
                        ? "rgba(255, 0, 0, 1)"
                        : "rgba(75, 192, 192, 1)";
                    }),
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                scales: {
                  x: {
                    beginAtZero: true,
                    stepSize: 5,
                  },
                  y: {
                    beginAtZero: false, // Permette valori negativi sull'asse Y
                  },
                },
              },
            });
          })
          .catch(function (error) {
            console.error("Errore nella richiesta dei dati:", error);
          });
      }

      // Chiama la funzione per recuperare i dati e creare il grafico
      fetchDatiDaController();
    </script>

    <!-- grafico  -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
