<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Music Store | Admin | Strumenti')"></head>

<body>
<nav th:replace="fragments/navbar :: navbar(area='Admin')"></nav>
<div th:replace="fragments/adminNav :: adminNav"></div>

<div class=" container">
    <div class="row">
        <div class="col-3 my-3 mx-2">
            <form th:action="@{/admin/cerca-per-quantita}" method="get">
                <input class="form-control me-2" type="number" placeholder="Cerca per quantità" aria-label="Search"
                       name="quantity"
                       required>
                <button class="btn btn-success my-2" type="submit">Cerca per quantità</button>
            </form>
        </div>
        <div class="col-3 my-3 mx-2">
            <form method="GET" th:action="@{/admin/cerca-per-tipologia}" th:object="${tipologie}" class="form-inline">
                <div class="form-group">

                    <select name="tipologiaSlug" id="tipologiaSlug" class="form-control">
                        <option value="">Cerca per tipologie</option>
                        <option th:each="tipologia : ${tipologie}"
                                th:value="${tipologia.slug}"
                                th:text="${tipologia.nome}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success ml-2 my-2">Cerca</button>
            </form>
        </div>
    </div>
</div>


<canvas id="strumentiChart" width="400" height="100"></canvas>

<div class="container">

    <div class="row">
        <div class="col-8 mx-auto">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Strumento</th>
                    <th scope="col">Quantità</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        th:each="strumento : ${strumenti}"
                        th:class="${strumento.magazzino.quantity lt 0} ? 'table-danger' : ''"
                        th:classappend="${strumento.inVendita  == 0} ? 'table-secondary' : ''"

                >
                    <td><img th:src="${strumento.urlFoto}" class=" p-3" style="height: 80px;"></td>
                    <td>
                  <span
                          th:if="${strumento.magazzino.quantity lt 0}"
                          class="fs-4 mx-1"
                  ><i
                          class="fa-sharp fa-solid fa-circle-exclamation text-danger"
                  ></i
                  ></span>
                        <span th:text="${strumento.nome}"></span>
                    </td>
                    <td>
                        <span th:text="${strumento.magazzino.quantity}"></span>
                    </td>
                    <td>
                        <a
                                class="btn btn-dark"
                                th:href="@{/admin/strumenti/{slug}/edit(slug=${strumento.slug})}"
                        >
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td th:if="${strumento.inVendita==0}">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>

                        <!-- Modal -->
                        <div class=" modal fade" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Attenzione</h1>

                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p> Elimindando lo strumento andranno persi tutti i dati di vendita ed
                                            assortimenti relativi
                                            ad esso. Clicca conferma per procedere comunque</p>
                                        <form
                                                th:action="@{/admin/strumenti/{slug}/delete(slug=${strumento.slug})}"
                                                method="POST"
                                        >
                                            <button type="submit" class="btn btn-dark">
                                                conferma
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <a
                                class="btn btn-dark"
                                th:href="@{/admin/{slugTipo}/{slugNome}/assortimento(slugNome=${strumento.slug},slugTipo=${strumento.tipologia.slug})}"
                        >
                            <i class="fa-solid fa-truck-fast"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
